<?xml version="1.0" encoding="UTF-8"?><project>
  <actions/>
  <description>This job is used to pick up the config commit to promote (computing this within a job doesn't work when the following job is manually triggered).</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>CONFIG_BRANCH_SPECIFIER</name>
          <description>Branch, tag or commit to build - see the help next to the "Branch Specifier" option in the job config for valid options.
</description>
          <defaultValue>*/master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <description/>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CODE_COMMIT</name>
          <description/>
          <defaultValue/>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/mergermarket/{CONFIG_REPO}.git</url>
        <credentialsId>github-build-user</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>$CONFIG_BRANCH_SPECIFIER</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.29">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>VERSION=$VERSION
CODE_COMMIT=$CODE_COMMIT
CONFIG_COMMIT=$GIT_COMMIT
</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>3.deploy_and_test_ci</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
      <jenkins.plugins.slack.SlackNotifier plugin="slack@2.0.1">
          <teamDomain>mergermarket</teamDomain>
          <authToken>nD4wAVrPsCmmTIMZAQRJ77C1</authToken>
          <buildServerUrl>https://jenkins.mergermarket.it/</buildServerUrl>
          <room>#devs</room>
          <startNotification>false</startNotification>
          <notifySuccess>false</notifySuccess>
          <notifyAborted>false</notifyAborted>
          <notifyNotBuilt>false</notifyNotBuilt>
          <notifyUnstable>false</notifyUnstable>
          <notifyFailure>true</notifyFailure>
          <notifyBackToNormal>true</notifyBackToNormal>
          <notifyRepeatedFailure>false</notifyRepeatedFailure>
          <includeTestSummary>false</includeTestSummary>
          <commitInfoChoice>NONE</commitInfoChoice>
          <includeCustomMessage>false</includeCustomMessage>
          <customMessage></customMessage>
      </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>
